{% extends 'base.html' %}
{% block page_content %}

    <!-- Post Details -->
    <section id="details">
        <div id="details-wrapper">
            <h2>Post Details</h2>
            <!-- post image -->
            <img id="details-img" src="{{ post.image_url }}" alt="{{ post.title }}"/>
            <!-- post title -->
            <p id="details-title">{{ post.title }}</p>
            <div id="info-wrapper">
                <div id="details-description">
                    <!-- post content -->
                    <p>
                        {{ post.content }}
                    </p>
                </div>

                <!--Edit and Delete buttons -->
                <div id="action-buttons">
                    <a href="{% url 'edit-post' post_id=post.pk %}" id="edit-btn">Edit</a>
                    <a href="{% url 'delete-post' post_id=post.pk %}" id="delete-btn">Delete</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}